* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
  }
  .titre {
    display: flex;
    background-color: rgb(0, 0, 197);
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  h1 {
    color: rgb(139, 139, 139);
    font-family: Arial;
    font-style: italic;
  }
  .nav {
    display: flex;
    size: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    size: 100%;
    font-family: Arial;
    font-size: 24px;
    padding-bottom: 5%;
  }
  .cut1 {
    background-color: blue;
    font-size: 18px;
    font-family: Arial;
    color: rgb(139, 139, 139);
    padding-left: 15%;
    padding-right: 15%;
  }
  .cut1 img {
    width: 320px;
}
  h2
  .li {
    align-content: center;
  }
  .img1 img {
    width: 160px;
  }
  .img2 img {
    width: 160px;
  }