* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(0, 0, 0);
  }
  .titre {
    display: flex;
    background-color: rgb(0, 0, 197);
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  h1 {
    color: rgb(139, 139, 139);
    font-family: Arial;
    font-style: italic;
  }
  .cut1 {
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .cut1 img {
    width: 1000px;
    border-radius: 25%;
}
h2 {
  color:rgb(139, 139, 139);
  text-align: center;
  font-family: Arial;
  font-style: italic;
  font-size: 34px;
  background-color: rgb(0, 0, 197);
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 50px;
}
.sec1 {
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 80px;
}
.sec1 div {
  width: 360px;
  transition: all 0.5s;
}
.sec1 img {
  max-width: 100%;
}
.sec1 div:hover {
  scale: 1.15;;
  transition: 0.5s;
}
.para1 {
  width: 50%;
  color:rgb(139, 139, 139);
  font-size: 24px;
}
.para2 {
  max-width: 50%;
  color:rgb(139, 139, 139);
  font-size: 24px;
}
.para1 p {
  margin-top: 50%;
}
.para2 p {
  margin-top: 50%;
}
.paravideo2 {
  margin-top: 35%;
}
.cut2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 50px;
  color:rgb(139, 139, 139);
  height: 50px;
  background-color: rgb(0, 0, 197);
  font-size: 24px;
  font-family: Arial;
  font-style: italic;
}
.secvideo {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 80px;
}
iframe {
  width: 540px;
  height: 320px;
}
.secvideo p {
  font-size: 24px;
  color: rgb(139, 139, 139);
  width: 500px;
}
.secvideo2 {
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
  margin-left: 15%;
}
.secvideo2 p {
  font-size: 24px;
  color: rgb(139, 139, 139);
  width: 500px;
}
.cutintress {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 50px;
    color: rgb(139, 139, 139);
    height: 50px;
    background-color: rgb(0, 0, 197);
    font-size: 24px;
    font-family: Arial;
    font-style: italic;
}
.cutintress p {
  height: auto;
  background-color: rgb(0, 0, 197);
}
footer {
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 80px;
  size: 75%;
  background: rgb(0, 0, 197);
}
footer a {
  font-size: 24px;
  font-family: Arial;
  color: rgb(139, 139, 139);
}
footer a:hover {
  background-color: rgb(192, 190, 190);
  transition: 0.5s;
}
.copyright{
  background: rgb(0, 0, 197);
  padding-top: 20px;
  margin-right: 15%;
  margin-left: 15%;
  size: 75%;
}
.copyright p{
  font-size: 18px;
  color: rgb(139, 139, 139);
}
.imgbouton {
  display: flex;
  justify-content: center;
}
.imgbouton img {
  width: 120px;
}
.titreForm {
  color:rgb(139, 139, 139);
  text-align: center;
  font-style: normal;
  font-size: 34px;;
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 50px;
}
.formContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  /* border: 1px solid rgb(139, 139, 139); */
  border-radius: 1em;
  font-size: 22px;
  font-style: Arial;
  color: rgb(139, 139, 139);
  margin-left: 15%;
  margin-right: 15%;
}
.formContact label {
  display: inline-block;
  padding-top: 10px;
  height: 40px;
  width: 350px;
  text-align: left;
}
.formContact input{
  height: 40px;
  width: 350px
}
textarea {
  height: 150px;
  width: 550px;
}
.submit input {
  margin-top: 10px;
  width: 100px;
  height: 40px;
}
.bodyBackground {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  textarea {
    height: 150px;
    width: 350px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 80px;
    size: 75%;
    background: rgb(0, 0, 197);
  }
  footer a {
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  video {
    max-width: 100%;
    height: auto;
  }
/* DEBUT CARROUSEL */
}
#slider {
  position: relative;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}
#slide {
  width: 100%;
}
#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  color: rgba(255, 2, 2, 0.8);
  padding: 10px;
}
#precedent {
  left: 0;
}
#suivant {
  right: 0;
}
#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 0.8;
}
.titreSlider {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
#precedent img, #suivant img {
  width: 100px;
  height: 100px;
}
/* DEUXIEME CARROUSEL */
.slider2-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  margin-top: 80px;
  height: 350px;
  overflow: hidden;
}
.menu {
  position: absolute;
  left: 0;
  z-index: 11;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.5em 1em;
}
.menu label:hover,.menu label:focus {
  background: rgb(35, 35, 204);
  transform: scale(1.5);
}
.slide-input{
  opacity: 0;
}
.slide-img {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}
span {
  position: absolute;
  font-size: 32px;
  color: rgb(8, 8, 9);
  z-index: 1500;
}
/* FIN CARROUSEL */

/* DEBUT NAV BAR */

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
  margin-bottom: 150px;
}
nav > ul {
  display: flex;
  text-align: center;
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: rgb(0, 0, 0);
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li a {
  text-decoration: none;
  font-size: 35px;
  color: rgb(0, 0, 197);
}
.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid rgb(0, 0, 197);
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid rgb(0, 0, 197);
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}
.sous-menu > li:hover > a {
  color: white;
}
:root{
  --hauteur-menu: 40px;
}